
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,200;9..144,400;9..144,500;9..144,700&family=League+Spartan:wght@400;700&family=Overpass+Mono:wght@300;400;500;600;700&family=Overpass:wght@400;700&family=Red+Hat+Text:wght@400;700&display=swap');
html {
  box-sizing: border-box;
}
:root{
  --main-background:hsl(222, 26%, 31%);
  --keypad-background: hsl(223, 31%, 20%);
  --screen-background:hsl(224, 36%, 15%);

  --key-background:hsl(30, 25%, 89%);
  --key-shadow:hsl(28, 16%, 65%);

  --key-color-light:hsl(0, 0%, 100%);
  --key-color-dark: hsl(221, 14%, 31%);

  --equal-sign-background-color:hsl(6, 63%, 50%);
  --equal-sign-shadow-background-color:hsl(6, 70%, 34%);

  --big-buttons-background-color:hsl(225, 21%, 49%);
  --big-buttons-shadow-color:hsl(224, 28%, 35%);
}
[data-theme= 'orange']{
  --main-background:hsl(0, 0%, 90%);
  --keypad-background: hsl(0, 5%, 81%);
  --screen-background:hsl(0, 0%, 93%);

  --key-background:hsl(30, 25%, 89%);
  --key-shadow:hsl(28, 16%, 65%);

  --key-color-light:hsl(0, 0%, 100%);
  --key-color-dark: hsl(60, 10%, 19%);

  --equal-sign-background-color:hsl(25, 98%, 40%);
  --equal-sign-shadow-background-color:hsl(25, 99%, 27%);

  --big-buttons-background-color:hsl(185, 42%, 37%);
  --big-buttons-shadow-color:hsl(185, 58%, 25%);
}
body {
  
  font-family: 'League Spartan', sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: var(--main-background);
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:var(--key-color-light);
}
.calculator-container{
  overflow: hidden;
  width:450px;
  border-radius: 15px;

}

/* display */
.calculator-display{
  background-color: var(--screen-background);

  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom:20px;
  border-radius: 10px;
}
.calculator-display h1{
  margin:0px;
  padding:25px;
  overflow-x:auto;
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background: #888;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* buttons */
.calculator-buttons{
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
  padding:25px;
  background-color: var(--keypad-background);
}
button{
  color:var(--key-color-dark);
  text-align: center;
  text-transform: uppercase;
  min-height:50px;
  border-radius: 7px;
  cursor: pointer;
  background-color: var(--key-background);
  font-family: 'League Spartan', sans-serif;
  outline: none;
  border: none;
  font-size: 34px;
  box-shadow: 0px 3px 0px 0px var(--key-shadow);
  
}
button:hover{
  filter: brightness(110%);
  animation: ease-in;
}
button:active{
  box-shadow: none;
  transform: translateY(2px);
}
button:focus{
  outline: none;
}
.equal-sign{
  color:var(--key-color-light);
  background-color:var(--equal-sign-background-color);
  box-shadow: 0px 3px 0px 0px var(--equal-sign-shadow-background-color);
  grid-column: 3/span 2;

}
.clear{
  grid-column: 1/span 2;
}

.clear, .del{
  background-color: var(--big-buttons-background-color);
  color:var(--key-color-light);
  box-shadow: 0px 3px 0px 0px var(--big-buttons-shadow-color);
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.theme-toggle-station{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.theme-toggle-station p{
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.theme-switch{
  display: inline-block;
  position: relative;
  width: 60px;
  height:34px;
}
.theme-switch input{
  display: none;
}
.slider {
  background: var(--keypad-background);
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top:0;
}
.slider::before {
  background: var(--key-background);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}
input:checked + .slider::before {
  transform: translateX(26px);
}

.slider, .round{
  border-radius: 34px;
}
.slider.round::before {
  border-radius: 50%;
}
@media screen and (max-width: 600px){
  .calculator-container{
    width:95%;
  }
}
